<!DOCTYPE html>
<html lang="en">
    <head>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    </head>
    <body>

    <table WIDTH="95%">
        <tr>
            <td WIDTH="30%">
               <div class = "top" style=" height:100px; border-style:solid; border-style:solid; border-width:0px 1px 0px 0px"></div>
               <div class="left" style="overflow-y: scroll; height:500px;  border-style:solid; border-width:0px 1px 0px 0px" role="group" aria-label="..."></div>
            </td>
            <td WIDTH="70%">
                <div class="right" style="overflow-y: scroll; height:570px; border-style:solid; border-width:1px 1px 1px 0px"">
                </div>
                <div class="bottom" style="height:30px; ">
                    <div class="input-group">
                      <input type="text" class="form-control" id="content" placeholder="type here...">
                      <span class="input-group-btn">
                        <button class="btn btn-default" type="button" onclick=send_post_request()>Send</button>
                      </span>
                    </div>
                </div>
            </td>
        </tr>
    </table>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T" crossorigin="anonymous"></script>
    <script>
    var current_id = 0;
    var selected_id = 0;

        function send_post_request(){
            $.ajax({
                url: '/messages',
                type: 'POST',
                contentType: 'application/json',
                data: JSON.stringify({
                     "content":  $('#content').val(),
                     "user_from":{"id":current_id},
                     "user_to":{"id":selected_id}
                }),
                dataType: 'json'
            });
            verChat(selected_id);
        }

        function verChat(id1){
            selected_id = id1;
            key = current_id+"/"+id1;
            $( ".right" ).empty();
            $.getJSON("/chats/"+key, function(data){
               var items = []
               i = 0
               $.each(data, function(){
                    if(data[i]['user_from_id'] == current_id){
                        f = '<div class="alert alert-success" style="text-align: right;" role="alert">';
                    } else {
                        f = '<div class="alert alert-warning"  role="alert">';
                    }
                    f = f+ data[i]['content'] ;
                    f = f+'    </div>';
                    $( "<div/>", {
                        "class":"message",
                        html: f
                    }).appendTo( ".right" );
                    i = i+1;
               });
            });
        }

        function obtenerChats(){
            $.getJSON("/chats/"+current_id, function(response){
               var items = []
               i = 0
               data = response['response']
               $.each(data, function(){
                    f = '<div class="alert " ';
                    f = f +  "onclick = verChat("+data[i]['id']+") "
                    f = f + 'role="alert">';
                        f = f+' <span class="glyphicon glyphicon-user" aria-hidden="true"></span>';
                        f = f+ data[i]['name']  +" "+ data[i]['fullname'];
                        f = f+ "<div>@"+data[i]['username']+"</div>";
                        f = f+' </div>';

                    i = i+1;
                    $( "<div/>", {
                        html: f
                    }).appendTo( ".left" );
               });
            });
        }

        $.getJSON("/current", function(data){
                current_id = data['id']
                f = '<div class="alert alert-info" ';
                f = f + 'role="alert">';
                    f = f+' <span class="glyphicon glyphicon-user" aria-hidden="true"></span>';
                    f = f+ data['name']+" "+data['fullname'] ;
                    f = f+'<div>@'+data['username']+'</div>';
                    f = f+' </div>';
                $( "<div/>", {
                    html: f
                }).appendTo( ".top" );
                obtenerChats();
        });
    </script>
    </body>
</html>